:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$itemColors:(
  item1: red,
  item2: blue,
  item3: green,
  item4: pink,
  item5: slategray
);

@each $item, $color in $itemColors {
    .#{$item} {
      background: $color;
    }
}

.item {
    width: 80px;
    height: 80px;
}

.container {
    width: 300px;
    height: 300px;
    color: #fff;
    background: #eee;
}

.toolbar {
    height: 60px;
    margin: -8px -8px 0px -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}
